In [1]:
import pandas as pd
import numpy as np
import requests
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings(action='ignore')
import googlemaps
from datetime import datetime
import re # 정규식

In [89]:
mart = pd.read_csv('./data/서울특별시 대규모점포 인허가 정보.csv', encoding='utf-8-sig')
mart

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,도로명주소,도로명우편번호,사업장명,최종수정일자,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y),점포구분명
0,3000000,2.019300e+18,20190917,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,서울특별시 종로구 삼일대로 428 낙원상가 506호 (낙원동),3140.0,낙원상가,2.019090e+13,U,40:00.0,그 밖의 대규모점포,198838.9130,452214.2110,대규모점포
1,3000000,2.019300e+18,20190917,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,서울특별시 종로구 삼일대로 428 낙원상가 (낙원동),3140.0,낙원상가,2.019090e+13,I,22:37.0,그 밖의 대규모점포,198838.9130,452214.2110,대규모점포
2,3000000,2.003300e+18,20030304,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,NaN,NaN,광장주식회사,2.007080e+13,I,59:59.0,시장,199837.4143,451974.1285,NaN
3,3030000,2.021300e+18,20130219,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,서울특별시 성동구 왕십리로 109 성수만세주유소 (성수동1가),4768.0,홈플러스익스프레스 뚝섬2점,2.021060e+13,U,06:00.0,구분없음,203841.2255,449475.5401,NaN
4,3000000,2.004300e+18,20040430,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,NaN,NaN,영풍문고,2.007070e+13,I,59:59.0,대형마트,198351.8187,451921.6030,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
936,3140000,2.011310e+18,20110630,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,서울특별시 양천구 중앙로 255-1 (신정동),NaN,홈플러스(주)익스프레스 신정점,2.021060e+13,U,02:00.0,구분없음,186934.1477,446336.6805,NaN
937,3040000,2.021300e+18,20210608,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,서울특별시 광진구 광나루로39길 11 (구의동),4977.0,구의 자이르네 판매시설,2.021090e+13,U,05:00.0,그 밖의 대규모점포,207754.5752,449270.2315,NaN
938,3060000,2.011310e+18,20110809,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,서울특별시 중랑구 면목로 357 (면목동),131831.0,홈플러스(주)익스프레스 면목점,2.021060e+13,U,03:00.0,그 밖의 대규모점포,207708.3648,453525.7412,NaN
939,3060000,2.006310e+18,20061026,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,서울특별시 중랑구 사가정로 332 (면목동),131822.0,홈플러스(주)면목점,2.021060e+13,U,03:00.0,복합쇼핑몰,207089.2166,453074.4768,NaN
940,3060000,2.006310e+18,20060828,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,서울특별시 중랑구 신내로 201 (신내동),131872.0,홈플러스 신내점,2.021060e+13,U,03:00.0,대형마트,208208.7867,457054.7937,NaN

In [90]:
mart = mart[mart['업태구분명'] == '대형마트']
mart = mart[mart['영업상태명']=='영업/정상']

In [91]:
mart

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,도로명주소,도로명우편번호,사업장명,최종수정일자,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y),점포구분명
4,3000000,2.004300e+18,20040430,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,NaN,NaN,영풍문고,2.007070e+13,I,59:59.0,대형마트,198351.8187,451921.6030,NaN
7,3000000,2.005300e+18,20050127,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,NaN,NaN,종로세운상가,2.007070e+13,I,59:59.0,대형마트,NaN,NaN,NaN
75,3010000,2.004300e+18,20040601,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,서울특별시 중구 청파로 426 (봉래동2가),100162.0,롯데쇼핑(주)롯데마트서울역점,2.017040e+13,I,59:59.0,대형마트,197243.2153,450655.1042,대규모점포
80,3010000,2.008300e+18,20080626,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,서울특별시 중구 청계천로 400-0 (황학동),100899.0,주식회사 이마트 청계천점,2.020090e+13,U,09:00.0,대형마트,201823.9090,452076.8187,NaN
112,3020000,2.012300e+18,20120313,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,서울특별시 용산구 청파로 122 (한강로2가),140012.0,(주)농협유통하나로클럽용산점,2.020040e+13,U,40:00.0,대형마트,196813.2585,447881.9708,대규모점포
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
924,3130000,2.003310e+18,20030521,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,서울특별시 마포구 월드컵로 240 (성산동월드컵경기장내),NaN,홈플러스(주)월드컵점,2.021080e+13,U,05:00.0,대형마트,191010.3810,451972.1540,NaN
928,3240000,2.011320e+18,20110927,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,서울특별시 강동구 고덕로24길 50 (암사동),134854.0,홈플러스(주) 익스프레스 암사점,2.021060e+13,U,09:00.0,대형마트,211868.2443,450020.3552,NaN
931,3230000,2.007320e+18,20070709,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,서울특별시 송파구 올림픽로35가길 16 (신천동),138240.0,홈플러스(주)잠실점,2.021060e+13,U,09:00.0,대형마트,209039.1480,446007.9668,NaN
932,3100000,1.999310e+18,20011207,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,서울특별시 노원구 동일로204가길 12 (중계동),139926.0,홈플러스(주) 중계점,2.021060e+13,U,09:00.0,대형마트,205985.9533,459730.4378,NaN
940,3060000,2.006310e+18,20060828,NaN,1,영업/정상,1,정상영업,NaN,NaN,...,서울특별시 중랑구 신내로 201 (신내동),131872.0,홈플러스 신내점,2.021060e+13,U,03:00.0,대형마트,208208.7867,457054.7937,NaN

In [5]:

mart = mart.drop(['개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자', '영업상태코드', '영업상태명', '상세영업상태코드',
       '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자', '재개업일자', '전화번호', '소재지면적',
       '소재지우편번호', '지번주소','도로명우편번호', '사업장명', '최종수정일자', '데이터갱신구분',
       '데이터갱신일자', '좌표정보(X)', '좌표정보(Y)', '점포구분명'], axis = 1)

In [6]:
mart.isnull().sum()

도로명주소    8
업태구분명    0
dtype: int64

In [7]:
mart = mart.dropna()

In [8]:
mart = mart.reset_index(drop=True)

In [9]:
for i in range(len(mart)):
    mart['도로명주소'][i] = re.sub("\(.*\)|\s-\s.*", '', mart['도로명주소'][i])
    print(mart['도로명주소'][i])

서울특별시 중구 청파로 426
서울특별시 중구 청계천로 400-0
서울특별시 용산구 청파로 122
서울특별시 성동구 왕십리광장로 17
서울특별시 광진구 광나루로56길 85
서울특별시 광진구 아차산로 272
서울특별시 동대문구 왕산로 214
서울특별시 마포구 양화로 45
서울특별시 동대문구 한천로 42
서울특별시 중랑구 상봉로 118
서울특별시 중랑구 동일로 932
서울특별시 중랑구 망우로 336
서울특별시 성북구 도봉로 17
서울특별시 망우로 353-0
서울특별시 성북구 종암로 167
서울특별시 성북구  도봉로  17
서울특별시 성북구 도봉로 17 신세계 이마트 미아점
서울특별시 성북구 종암로 167  동
서울특별시 강북구 도봉로33길 18
서울특별시 강북구 삼양로27길 35-21
서울특별시 강북구 삼양로 247
서울특별시 강북구 도봉로67길 18
서울특별시 강북구 도봉로 157 112호
서울특별시 도봉구 노해로65길 4
서울특별시 도봉구 도봉로 678
서울특별시 노원구 노원로 330
서울특별시 서초구 잠원로 69
서울특별시 은평구 수색로 217
서울특별시 은평구 은평로 111
서울특별시 마포구  백범로  212
서울특별시 마포구 백범로 212
서울특별시 양천구 오목로 299
서울특별시 양천로 559
서울특별시 구로구 새말로 97
서울특별시 구로구 디지털로32길 43
서울특별시 금천구 두산로 71
서울특별시 금천구 시흥대로 391
서울특별시 금천구 시흥대로 391
서울특별시 영등포구 선유로 156
서울특별시 영등포구 선유로 138
서울특별시 성북구 화랑로 76
서울특별시 영등포구 영중로 125
서울특별시 영등포구 여의동로3길 10
서울특별시 영등포구 여의동로3길 10
서울특별시 강서구 양천로 431
서울특별시 강서구  화곡로  398
서울특별시 구로구 경인로 661 신도림1차푸르지오
서울특별시 방배로33길 29
서울특별시 서초구 양재대로 159
서울특별시 서초구 매헌로 16
서울특별시 서초구 방배로37길 11 1층
서울특별시 강남구 역삼로 310
서울특별시 송파구 올림픽로 240
서울특별시 송파구 중대로 80
서울특별시 송파구 올림픽로 300 롯데월드타워앤드롯데월드몰
서울특별시 강동구 천호대로 1017
서울특별시 강동구 고덕로 276
서울특별시 동대문구 천호대로 133
서울특별시 금천구 시흥대로 201
서울특별시 금천구 시흥대로 391
서울특별시 강동구 양재대로 1571
서울특별시  새문안로 91 1층
서울특별시 강북구 도봉로 172
서울특별시 관악구 과천대로 909
서울특별시 영등포구  당산로  42
서울특별시 관악구 은천로 51
서울특별시 마포구 월드컵로 240
서울특별시 강동구 고덕로24길 50
서울특별시 송파구 올림픽로35가길 16
서울특별시 노원구 동일로204가길 12
서울특별시 중랑구 신내로 201

In [10]:
mart

                     도로명주소 업태구분명
0        서울특별시 중구 청파로 426   대형마트
1     서울특별시 중구 청계천로 400-0   대형마트
2       서울특별시 용산구 청파로 122   대형마트
3     서울특별시 성동구 왕십리광장로 17   대형마트
4    서울특별시 광진구 광나루로56길 85   대형마트
..                     ...   ...
66     서울특별시 마포구 월드컵로 240   대형마트
67    서울특별시 강동구 고덕로24길 50   대형마트
68  서울특별시 송파구 올림픽로35가길 16   대형마트
69  서울특별시 노원구 동일로204가길 12   대형마트
70      서울특별시 중랑구 신내로 201   대형마트

[71 rows x 2 columns]

In [11]:
mart_name = []
for name in mart['도로명주소']:
    mart_name.append(name)

In [12]:
gmaps = googlemaps.Client('개인 api 사용')
mart_lat = []
mart_lon = []
for i in mart_name:
    
    location = gmaps.geocode(i, language='ko') 
    
    latitude  = location[0]["geometry"]["location"]["lat"] 
    longitude = location[0]["geometry"]["location"]["lng"] 

    mart_lat.append(latitude)
    mart_lon.append(longitude)
    print(i)

서울특별시 중구 청파로 426
서울특별시 중구 청계천로 400-0
서울특별시 용산구 청파로 122
서울특별시 성동구 왕십리광장로 17
서울특별시 광진구 광나루로56길 85
서울특별시 광진구 아차산로 272
서울특별시 동대문구 왕산로 214
서울특별시 마포구 양화로 45
서울특별시 동대문구 한천로 42
서울특별시 중랑구 상봉로 118
서울특별시 중랑구 동일로 932
서울특별시 중랑구 망우로 336
서울특별시 성북구 도봉로 17
서울특별시 망우로 353-0
서울특별시 성북구 종암로 167
서울특별시 성북구  도봉로  17
서울특별시 성북구 도봉로 17 신세계 이마트 미아점
서울특별시 성북구 종암로 167  동
서울특별시 강북구 도봉로33길 18
서울특별시 강북구 삼양로27길 35-21
서울특별시 강북구 삼양로 247
서울특별시 강북구 도봉로67길 18
서울특별시 강북구 도봉로 157 112호
서울특별시 도봉구 노해로65길 4
서울특별시 도봉구 도봉로 678
서울특별시 노원구 노원로 330
서울특별시 서초구 잠원로 69
서울특별시 은평구 수색로 217
서울특별시 은평구 은평로 111
서울특별시 마포구  백범로  212
서울특별시 마포구 백범로 212
서울특별시 양천구 오목로 299
서울특별시 양천로 559
서울특별시 구로구 새말로 97
서울특별시 구로구 디지털로32길 43
서울특별시 금천구 두산로 71
서울특별시 금천구 시흥대로 391
서울특별시 금천구 시흥대로 391
서울특별시 영등포구 선유로 156
서울특별시 영등포구 선유로 138
서울특별시 성북구 화랑로 76
서울특별시 영등포구 영중로 125
서울특별시 영등포구 여의동로3길 10
서울특별시 영등포구 여의동로3길 10
서울특별시 강서구 양천로 431
서울특별시 강서구  화곡로  398
서울특별시 구로구 경인로 661 신도림1차푸르지오
서울특별시 방배로33길 29
서울특별시 서초구 양재대로 159
서울특별시 서초구 매헌로 16
서울특별시 서초구 방배로37길 11 1층
서울특별시 강남구 역삼로 310
서울특별시 송파구 올림픽로 240
서울특별시 송파구 중대로 80
서울특별시 송파구 올림픽로 300 롯데월드타워앤드롯데월드몰
서울특별시 강동구 천호대로 1017
서울특별시 강동구 고덕로 276
서울특별시 동대문구 천호대로 133
서울특별시 금천구 시흥대로 201
서울특별시 금천구 시흥대로 391
서울특별시 강동구 양재대로 1571
서울특별시  새문안로 91 1층
서울특별시 강북구 도봉로 172
서울특별시 관악구 과천대로 909
서울특별시 영등포구  당산로  42
서울특별시 관악구 은천로 51
서울특별시 마포구 월드컵로 240
서울특별시 강동구 고덕로24길 50
서울특별시 송파구 올림픽로35가길 16
서울특별시 노원구 동일로204가길 12
서울특별시 중랑구 신내로 201

In [13]:
mart_lat

[37.5574069,
 37.5708733,
 37.5331353,
 37.5621482,
 37.5349372,
 37.5376127,
 37.5792928,
 37.5489656,
 37.579639,
 37.596438,
 37.613797,
 37.5967521,
 37.6108648,
 37.598081,
 37.602119,
 37.6108648,
 37.610891,
 37.602119,
 37.62153430000001,
 37.6179214,
 37.6254731,
 37.630752,
 37.62252,
 37.6516821,
 37.6648183,
 37.6466623,
 37.5102313,
 37.5795991,
 37.60077709999999,
 37.5424268,
 37.5424268,
 37.5257763,
 37.5578966,
 37.5070431,
 37.4843537,
 37.4704705,
 37.4686493,
 37.4686493,
 37.5276365,
 37.5260404,
 37.6017142,
 37.5277844,
 37.5181371,
 37.5181371,
 37.5642454,
 37.5584359,
 37.5094291,
 37.4912177,
 37.4619661,
 37.4665323,
 37.4934746,
 37.4992239,
 37.5112348,
 37.4917416,
 37.5131273,
 37.5386477,
 37.5546516,
 37.5745108,
 37.4519767,
 37.4686493,
 37.5456582,
 37.5704347,
 37.6241815,
 37.471482,
 37.5302698,
 37.4862512,
 37.5677584,
 37.5523222,
 37.5162099,
 37.639815,
 37.6157539]

In [14]:
mart_lon

[126.9694999,
 127.0213284,
 126.9647209,
 127.0379421,
 127.0957088,
 127.0726183,
 127.0479007,
 126.9134767,
 127.0691065,
 127.0935903,
 127.0775029,
 127.0902753,
 127.0296051,
 127.0905951,
 127.0332133,
 127.0296051,
 127.029824,
 127.0332133,
 127.0264792,
 127.0188996,
 127.0177185,
 127.0229047,
 127.0270305,
 127.046933,
 127.0435994,
 127.0709672,
 127.0069616,
 126.8987214,
 126.9204992,
 126.9533694,
 126.9533694,
 126.8703272,
 126.8622978,
 126.8902185,
 126.89788,
 126.8956692,
 126.8968106,
 126.8968106,
 126.8921603,
 126.8917337,
 127.0404475,
 126.9046359,
 126.9261297,
 126.9261297,
 126.8499416,
 126.8547981,
 126.8876466,
 126.9892572,
 127.03607,
 127.0355485,
 126.9891307,
 127.048424,
 127.0980274,
 127.1178672,
 127.1019609,
 127.1253669,
 127.1557517,
 127.0387578,
 126.900714,
 126.8968106,
 127.1422439,
 126.9747439,
 127.0273476,
 126.9826404,
 126.9017353,
 126.9412192,
 126.8981147,
 127.1350647,
 127.1030143,
 127.0686402,
 127.0937534]

In [15]:
mart['위도'] = mart_lat
mart['경도'] = mart_lon
mart

                     도로명주소 업태구분명         위도          경도
0        서울특별시 중구 청파로 426   대형마트  37.557407  126.969500
1     서울특별시 중구 청계천로 400-0   대형마트  37.570873  127.021328
2       서울특별시 용산구 청파로 122   대형마트  37.533135  126.964721
3     서울특별시 성동구 왕십리광장로 17   대형마트  37.562148  127.037942
4    서울특별시 광진구 광나루로56길 85   대형마트  37.534937  127.095709
..                     ...   ...        ...         ...
66     서울특별시 마포구 월드컵로 240   대형마트  37.567758  126.898115
67    서울특별시 강동구 고덕로24길 50   대형마트  37.552322  127.135065
68  서울특별시 송파구 올림픽로35가길 16   대형마트  37.516210  127.103014
69  서울특별시 노원구 동일로204가길 12   대형마트  37.639815  127.068640
70      서울특별시 중랑구 신내로 201   대형마트  37.615754  127.093753

[71 rows x 4 columns]

In [16]:
mart['구'] = mart['도로명주소'].str.split(" ").str[1]

In [17]:
mart

                     도로명주소 업태구분명         위도          경도    구
0        서울특별시 중구 청파로 426   대형마트  37.557407  126.969500   중구
1     서울특별시 중구 청계천로 400-0   대형마트  37.570873  127.021328   중구
2       서울특별시 용산구 청파로 122   대형마트  37.533135  126.964721  용산구
3     서울특별시 성동구 왕십리광장로 17   대형마트  37.562148  127.037942  성동구
4    서울특별시 광진구 광나루로56길 85   대형마트  37.534937  127.095709  광진구
..                     ...   ...        ...         ...  ...
66     서울특별시 마포구 월드컵로 240   대형마트  37.567758  126.898115  마포구
67    서울특별시 강동구 고덕로24길 50   대형마트  37.552322  127.135065  강동구
68  서울특별시 송파구 올림픽로35가길 16   대형마트  37.516210  127.103014  송파구
69  서울특별시 노원구 동일로204가길 12   대형마트  37.639815  127.068640  노원구
70      서울특별시 중랑구 신내로 201   대형마트  37.615754  127.093753  중랑구

[71 rows x 5 columns]

In [68]:
apart = pd.read_csv('./data/아파트(매매)__실거래가_20211113205311.csv')
apart

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
0,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,202104,15,"174,000",9,1988,언주로 103,NaN,-,-
1,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,54.98,202012,4,"146,000",1,1987,언주로 3,NaN,-,-
2,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202012,28,"155,400",3,1987,언주로 3,NaN,-,-
3,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202105,15,"195,000",5,1987,언주로 3,NaN,-,-
4,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202108,11,"200,000",3,1987,언주로 3,NaN,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48271,서울특별시 중랑구 중화동,274-51,274.0,51.0,한영(101),57.66,202102,27,"30,500",5,2003,동일로144길 74,NaN,-,-
48272,서울특별시 중랑구 중화동,274-75,274.0,75.0,한영(102),72.22,202105,4,"49,500",4,2003,동일로144길 74,NaN,-,-
48273,서울특별시 중랑구 중화동,274-76,274.0,76.0,한영(103),58.46,202107,1,"30,000",2,2003,동일로144길 74,NaN,-,-
48274,서울특별시 중랑구 중화동,274-76,274.0,76.0,한영(103),104.93,202108,20,"61,500",7,2003,동일로144길 74,NaN,-,-
48275,서울특별시 중랑구 중화동,11,11.0,0.0,현대휴앤미,100.17,202012,3,"54,800",5,2007,봉화산로27가길 23,NaN,-,-

In [69]:
apart['주소'] = apart['시군구']+apart['도로명']
apart = apart.drop(['시군구','번지','본번','부번','단지명','계약일','도로명','해제사유발생일','거래유형','중개사소재지'], axis = 1)
apart['구'] = apart['주소'].str.split(" ").str[1]

In [70]:
apart.isnull().sum()

전용면적(㎡)     0
계약년월        0
거래금액(만원)    0
층           0
건축년도        0
주소          0
구           0
dtype: int64

In [71]:
apart_location = []
for loc in apart['주소']:
    apart_location.append(loc)

In [75]:
len(apart_location)

48276

In [27]:
len(apart_location)

48276

In [76]:
gmaps = googlemaps.Client('개인 api 사용')

In [64]:

apart_lat = []
apart_lon = []
for i in apart_location:
    try:
        location = gmaps.geocode(i, language='ko') 
    
        latitude  = location[0]["geometry"]["location"]["lat"] 
        longitude = location[0]["geometry"]["location"]["lng"] 
        apart_lat.append(latitude)
        apart_lon.append(longitude)
    except IndexError:
        apart_lat.append('no')
        apart_lon.append('no')

In [77]:
lat1 = apart_lat[:]
lon1 = apart_lon[:]

In [78]:
while 'no' in lat1:
    lat1.remove('no')
len(lat1)

48058

In [84]:
while 'no' in lon1:
    lon1.remove('no')
len(lon1)

48058

In [80]:
apart_lat.count('no')

436

In [81]:
apart_lon.count('no')

0

In [83]:
len(apart_lon)

48058

In [85]:
len(apart_lat)

48494

In [ ]:
df = pd.read_csv('./data/Apart Deal.csv',encoding='utf-8-sig')
df

In [45]:
brower = webdriver.Chrome('./chromedriver.exe')

In [46]:
def SubwayInfoCrawling():
    options = webdriver.ChromeOptions()
    options.add_argument('headless')

    driver = webdriver.Chrome("chromedriver.exe", options=options)
    driver.get('http://www.seoulmetro.co.kr/kr/cyberStation.do')

    source = driver.page_source
    soup = BeautifulSoup(source, 'html.parser')
    mapinfo = soup.find('div', 'mapInfo')
    lines = mapinfo.find_all('li')

    output = pd.DataFrame()
    for i in range(len(lines)):
        st_line = lines[i].span.text
        st_list = lines[i].div.text.split(',')
        for j in range(len(st_list)):
            st_name = st_list[j].strip()
            unit = pd.DataFrame({'st_name':[st_name],
                                 'st_line':[st_line]})
            output = pd.concat([output,unit], axis=0)

    output = output.reset_index(drop=True)
    driver.close()
    return output

In [47]:
st_info = SubwayInfoCrawling()

In [48]:
st_info

    st_name st_line
0       소요산     1호선
1       동두천     1호선
2        보산     1호선
3     동두천중앙     1호선
4        지행     1호선
..      ...     ...
744      운양  김포도시철도
745      장기  김포도시철도
746      마산  김포도시철도
747      구래  김포도시철도
748      양촌  김포도시철도

[749 rows x 2 columns]

In [49]:
st_info['st_name'] = st_info['st_name'].apply(lambda x: x if x[-1]=='역' else x + '역')

In [50]:
sub_name = []
for name in st_info['st_name']:
    sub_name.append(name)

In [51]:
sub_name

['소요산역',
 '동두천역',
 '보산역',
 '동두천중앙역',
 '지행역',
 '덕정역',
 '덕계역',
 '양주역',
 '녹양역',
 '가능역',
 '의정부역',
 '회룡역',
 '망월사역',
 '도봉산역',
 '도봉역',
 '방학역',
 '창동역',
 '녹천역',
 '월계역',
 '광운대역',
 '석계역',
 '신이문역',
 '외대앞역',
 '회기역',
 '청량리역',
 '제기동역',
 '신설동역',
 '동묘앞역',
 '동대문역',
 '종로5가역',
 '종로3가역',
 '종각역',
 '시청역',
 '서울역',
 '남영역',
 '용산역',
 '노량진역',
 '대방역',
 '신길역',
 '영등포역',
 '신도림역',
 '구로역',
 '구일역',
 '개봉역',
 '오류동역',
 '온수역',
 '역곡역',
 '소사역',
 '부천역',
 '중동역',
 '송내역',
 '부개역',
 '부평역',
 '백운역',
 '동암역',
 '간석역',
 '주안역',
 '도화역',
 '제물포역',
 '도원역',
 '동인천역',
 '인천역',
 '가산디지털단지역',
 '독산역',
 '금천구청역',
 '광명역',
 '금천구청역',
 '석수역',
 '관악역',
 '안양역',
 '명학역',
 '금정역',
 '군포역',
 '당정역',
 '의왕역',
 '성균관대역',
 '화서역',
 '수원역',
 '세류역',
 '병점역',
 '세마역',
 '오산대역',
 '오산역',
 '진위역',
 '송탄역',
 '서정리역',
 '평택지제역',
 '평택역',
 '성환역',
 '직산역',
 '두정역',
 '천안역',
 '봉명역',
 '쌍용역',
 '아산역',
 '배방역',
 '온양온천역',
 '신창역',
 '서동탄역',
 '까치산역',
 '신정네거리역',
 '양천구청역',
 '도림천역',
 '신도림역',
 '문래역',
 '영등포구청역',
 '당산역',
 '합정역',
 '홍대입구역',
 '신촌역',
 '이대역',
 '아현역',
 '충정로역',
 '시청역',
 '을지로입구역',
 '을지로3가역',
 '을지로4가역',
 '동대문역사문화공원역',
 '신당역',
 '상왕십리역',
 '왕십리역',
 '한양대역',
 '뚝섬역',
 '성수역',
 '건대입구역',
 '구의역',
 '강변역',
 '잠실나루역',
 '잠실역',
 '잠실새내역',
 '종합운동장역',
 '삼성역',
 '선릉역',
 '역삼역',
 '강남역',
 '교대역',
 '서초역',
 '방배역',
 '사당역',
 '낙성대역',
 '서울대입구역',
 '봉천역',
 '신림역',
 '신대방역',
 '구로디지털단지역',
 '대림역',
 '용답역',
 '신답역',
 '용두역',
 '신설동역',
 '대화역',
 '주엽역',
 '정발산역',
 '마두역',
 '백석역',
 '대곡역',
 '화정역',
 '원당역',
 '원흥역',
 '삼송역',
 '지축역',
 '구파발역',
 '연신내역',
 '불광역',
 '녹번역',
 '홍제역',
 '무악재역',
 '독립문역',
 '경복궁역',
 '안국역',
 '종로3가역',
 '을지로3가역',
 '충무로역',
 '동대입구역',
 '약수역',
 '금호역',
 '옥수역',
 '압구정역',
 '신사역',
 '잠원역',
 '고속터미널역',
 '교대역',
 '남부터미널역',
 '양재역',
 '매봉역',
 '도곡역',
 '대치역',
 '학여울역',
 '대청역',
 '일원역',
 '수서역',
 '가락시장역',
 '경찰병원역',
 '오금역',
 '당고개역',
 '상계역',
 '노원역',
 '창동역',
 '쌍문역',
 '수유역',
 '미아역',
 '미아사거리역',
 '길음역',
 '성신여대입구역',
 '한성대입구역',
 '혜화역',
 '동대문역',
 '동대문역사문화공원역',
 '충무로역',
 '명동역',
 '회현역',
 '서울역',
 '숙대입구역',
 '삼각지역',
 '신용산역',
 '이촌역',
 '동작역',
 '총신대입구역',
 '사당역',
 '남태령역',
 '선바위역',
 '경마공원역',
 '대공원역',
 '과천역',
 '정부과천청사역',
 '인덕원역',
 '평촌역',
 '범계역',
 '금정역',
 '산본역',
 '수리산역',
 '대야미역',
 '반월역',
 '상록수역',
 '한대앞역',
 '중앙역',
 '고잔역',
 '초지역',
 '안산역',
 '신길온천역',
 '정왕역',
 '오이도역',
 '방화역',
 '개화산역',
 '김포공항역',
 '송정역',
 '마곡역',
 '발산역',
 '우장산역',
 '화곡역',
 '까치산역',
 '신정역',
 '목동역',
 '오목교역',
 '양평역',
 '영등포구청역',
 '영등포시장역',
 '신길역',
 '여의도역',
 '여의나루역',
 '마포역',
 '공덕역',
 '애오개역',
 '충정로역',
 '서대문역',
 '광화문역',
 '종로3가역',
 '을지로4가역',
 '동대문역사문화공원역',
 '청구역',
 '신금호역',
 '행당역',
 '왕십리역',
 '마장역',
 '답십리역',
 '장한평역',
 '군자역',
 '아차산역',
 '광나루역',
 '천호역',
 '강동역',
 '길동역',
 '굽은다리역',
 '명일역',
 '고덕역',
 '상일동역',
 '강일역',
 '미사역',
 '하남풍산역',
 '하남시청역',
 '하남검단산역',
 '둔촌동역',
 '올림픽공원역',
 '방이역',
 '오금역',
 '개롱역',
 '거여역',
 '마천역',
 '신내역',
 '봉화산역',
 '화랑대역',
 '태릉입구역',
 '석계역',
 '돌곶이역',
 '상월곡역',
 '월곡역',
 '고려대역',
 '안암역',
 '보문역',
 '창신역',
 '동묘앞역',
 '신당역',
 '청구역',
 '약수역',
 '버티고개역',
 '한강진역',
 '이태원역',
 '녹사평역',
 '삼각지역',
 '효창공원앞역',
 '공덕역',
 '대흥역',
 '광흥창역',
 '상수역',
 '합정역',
 '망원역',
 '마포구청역',
 '월드컵경기장역',
 '디지털미디어시티역',
 '증산역',
 '새절역',
 '응암역',
 '역촌역',
 '불광역',
 '독바위역',
 '연신내역',
 '구산역',
 '석남역',
 '산곡역',
 '부평구청역',
 '굴포천역',
 '삼산체육관역',
 '상동역',
 '부천시청역',
 '신중동역',
 '춘의역',
 '부천종합운동장역',
 '까치울역',
 '온수역',
 '천왕역',
 '광명사거리역',
 '철산역',
 '가산디지털단지역',
 '남구로역',
 '대림역',
 '신풍역',
 '보라매역',
 '신대방삼거리역',
 '장승배기역',
 '상도역',
 '숭실대입구역',
 '남성역',
 '총신대입구역',
 '내방역',
 '고속터미널역',
 '반포역',
 '논현역',
 '학동역',
 '강남구청역',
 '청담역',
 '뚝섬유원지역',
 '건대입구역',
 '어린이대공원역',
 '군자역',
 '중곡역',
 '용마산역',
 '사가정역',
 '면목역',
 '상봉역',
 '중화역',
 '먹골역',
 '태릉입구역',
 '공릉역',
 '하계역',
 '중계역',
 '노원역',
 '마들역',
 '수락산역',
 '도봉산역',
 '장암역',
 '암사역',
 '천호역',
 '강동구청역',
 '몽촌토성역',
 '잠실역',
 '석촌역',
 '송파역',
 '가락시장역',
 '문정역',
 '장지역',
 '복정역',
 '산성역',
 '남한산성입구역',
 '단대오거리역',
 '신흥역',
 '수진역',
 '모란역',
 '개화역',
 '김포공항역',
 '공항시장역',
 '신방화역',
 '마곡나루역',
 '양천향교역',
 '가양역',
 '증미역',
 '등촌역',
 '염창역',
 '신목동역',
 '선유도역',
 '당산역',
 '국회의사당역',
 '여의도역',
 '샛강역',
 '노량진역',
 '노들역',
 '흑석역',
 '동작역',
 '구반포역',
 '신반포역',
 '고속터미널역',
 '사평역',
 '신논현역',
 '언주역',
 '선정릉역',
 '삼성중앙역',
 '봉은사역',
 '종합운동장역',
 '삼전역',
 '석촌고분역',
 '석촌역',
 '송파나루역',
 '한성백제역',
 '올림픽공원역',
 '둔촌오륜역',
 '중앙보훈병원역',
 '송도달빛축제공원역',
 '국제업무지구역',
 '센트럴파크역',
 '인천대입구역',
 '지식정보단지역',
 '테크노파크역',
 '캠퍼스타운역',
 '동막역',
 '동춘역',
 '원인재역',
 '신연수역',
 '선학역',
 '문학경기장역',
 '인천터미널역',
 '예술회관역',
 '인천시청역',
 '간석오거리역',
 '부평삼거리역',
 '동수역',
 '부평역',
 '부평시장역',
 '부평구청역',
 '갈산역',
 '작전역',
 '경인교대입구역',
 '계산역',
 '임학역',
 '박촌역',
 '귤현역',
 '계양역',
 '검단오류역',
 '왕길역',
 '검단사거리역',
 '마전역',
 '완정역',
 '독정역',
 '검암역',
 '검바위역',
 '아시아드경기장역',
 '서구청역',
 '가정역',
 '가정중앙시장역',
 '석남역',
 '서부여성회관역',
 '인천가좌역',
 '가재울역',
 '주안국가산단역',
 '주안역',
 '시민공원역',
 '석바위시장역',
 '인천시청역',
 '석천사거리역',
 '모래내시장역',
 '만수역',
 '남동구청역',
 '인천대공원역',
 '운연역',
 '인천역',
 '신포역',
 '숭의역',
 '인하대역',
 '송도역',
 '연수역',
 '원인재역',
 '남동인더스파크역',
 '호구포역',
 '인천논현역',
 '소래포구역',
 '월곶역',
 '달월역',
 '오이도역',
 '정왕역',
 '신길온천역',
 '안산역',
 '초지역',
 '고잔역',
 '중앙역',
 '한대앞역',
 '사리역',
 '야목역',
 '어천역',
 '오목천역',
 '고색역',
 '수원역',
 '매교역',
 '수원시청역',
 '매탄권선역',
 '망포역',
 '영통역',
 '청명역',
 '상갈역',
 '기흥역',
 '신갈역',
 '구성역',
 '보정역',
 '죽전역',
 '오리역',
 '미금역',
 '정자역',
 '수내역',
 '서현역',
 '이매역',
 '야탑역',
 '모란역',
 '태평역',
 '가천대역',
 '복정역',
 '수서역',
 '대모산입구역',
 '개포동역',
 '구룡역',
 '도곡역',
 '한티역',
 '선릉역',
 '선정릉역',
 '강남구청역',
 '압구정로데오역',
 '서울숲역',
 '왕십리역',
 '청량리역',
 '강남역',
 '양재역',
 '양재시민의숲역',
 '청계산입구역',
 '판교역',
 '정자역',
 '미금역',
 '동천역',
 '수지구청역',
 '성복역',
 '상현역',
 '광교중앙역',
 '광교역',
 '임진강역',
 '문산역',
 '파주역',
 '월롱역',
 '금촌역',
 '금릉역',
 '운정역',
 '야당역',
 '탄현역',
 '일산역',
 '풍산역',
 '백마역',
 '곡산역',
 '대곡역',
 '능곡역',
 '행신역',
 '강매역',
 '화전역',
 '수색역',
 '디지털미디어시티역',
 '가좌역',
 '신촌역',
 '서울역',
 '홍대입구역',
 '서강대역',
 '공덕역',
 '효창공원앞역',
 '용산역',
 '이촌역',
 '서빙고역',
 '한남역',
 '옥수역',
 '응봉역',
 '왕십리역',
 '청량리역',
 '회기역',
 '중랑역',
 '상봉역',
 '망우역',
 '양원역',
 '구리역',
 '도농역',
 '양정역',
 '덕소역',
 '도심역',
 '팔당역',
 '운길산역',
 '양수역',
 '신원역',
 '국수역',
 '아신역',
 '오빈역',
 '양평역',
 '원덕역',
 '용문역',
 '지평역',
 '인천공항2터미널역',
 '인천공항1터미널역',
 '공항화물청사역',
 '운서역',
 '영종역',
 '청라국제도시역',
 '검암역',
 '계양역',
 '김포공항역',
 '마곡나루역',
 '디지털미디어시티역',
 '홍대입구역',
 '공덕역',
 '서울역',
 '청량리역',
 '회기역',
 '중랑역',
 '상봉역',
 '망우역',
 '신내역',
 '갈매역',
 '별내역',
 '퇴계원역',
 '사릉역',
 '금곡역',
 '평내호평역',
 '천마산역',
 '마석역',
 '대성리역',
 '청평역',
 '상천역',
 '가평역',
 '굴봉산역',
 '백양리역',
 '강촌역',
 '김유정역',
 '남춘천역',
 '춘천역',
 '광운대역',
 '발곡역',
 '회룡역',
 '범골역',
 '경전철의정부역',
 '의정부시청역',
 '흥선역',
 '의정부중앙역',
 '동오역',
 '새말역',
 '경기도청북부청사역',
 '효자역',
 '곤제역',
 '어룡역',
 '송산역',
 '탑석역',
 '기흥역',
 '강남대역',
 '지석역',
 '어정역',
 '동백역',
 '초당역',
 '삼가역',
 '시청·용인대역',
 '명지대역',
 '김량장역',
 '운동장·송담대역',
 '고진역',
 '보평역',
 '둔전역',
 '전대·에버랜드역',
 '판교역',
 '이매역',
 '삼동역',
 '경기광주역',
 '초월역',
 '곤지암역',
 '신둔도예촌역',
 '이천역',
 '부발역',
 '세종대왕릉역',
 '여주역',
 '신설동역',
 '보문역',
 '성신여대입구역',
 '정릉역',
 '북한산보국문역',
 '솔샘역',
 '삼양사거리역',
 '삼양역',
 '화계역',
 '가오리역',
 '4·19민주묘지역',
 '솔밭공원역',
 '북한산우이역',
 '소사역',
 '소새울역',
 '시흥대야역',
 '신천역',
 '신현역',
 '시흥시청역',
 '시흥능곡역',
 '달미역',
 '선부역',
 '초지역',
 '시우역',
 '원시역',
 '김포공항역',
 '고촌역',
 '풍무역',
 '사우(김포시청)역',
 '걸포북변역',
 '운양역',
 '장기역',
 '마산역',
 '구래역',
 '양촌역']

In [52]:
gmaps = googlemaps.Client('개인 api key 사용')
lat = []
lon = []
for i in sub_name:
    
    location = gmaps.geocode(i, language='ko') 
    
    latitude  = location[0]["geometry"]["location"]["lat"] 
    longitude = location[0]["geometry"]["location"]["lng"] 

    lat.append(latitude)
    lon.append(longitude)
    print(i)

소요산역
동두천역
보산역
동두천중앙역
지행역
덕정역
덕계역
양주역
녹양역
가능역
의정부역
회룡역
망월사역
도봉산역
도봉역
방학역
창동역
녹천역
월계역
광운대역
석계역
신이문역
외대앞역
회기역
청량리역
제기동역
신설동역
동묘앞역
동대문역
종로5가역
종로3가역
종각역
시청역
서울역
남영역
용산역
노량진역
대방역
신길역
영등포역
신도림역
구로역
구일역
개봉역
오류동역
온수역
역곡역
소사역
부천역
중동역
송내역
부개역
부평역
백운역
동암역
간석역
주안역
도화역
제물포역
도원역
동인천역
인천역
가산디지털단지역
독산역
금천구청역
광명역
금천구청역
석수역
관악역
안양역
명학역
금정역
군포역
당정역
의왕역
성균관대역
화서역
수원역
세류역
병점역
세마역
오산대역
오산역
진위역
송탄역
서정리역
평택지제역
평택역
성환역
직산역
두정역
천안역
봉명역
쌍용역
아산역
배방역
온양온천역
신창역
서동탄역
까치산역
신정네거리역
양천구청역
도림천역
신도림역
문래역
영등포구청역
당산역
합정역
홍대입구역
신촌역
이대역
아현역
충정로역
시청역
을지로입구역
을지로3가역
을지로4가역
동대문역사문화공원역
신당역
상왕십리역
왕십리역
한양대역
뚝섬역
성수역
건대입구역
구의역
강변역
잠실나루역
잠실역
잠실새내역
종합운동장역
삼성역
선릉역
역삼역
강남역
교대역
서초역
방배역
사당역
낙성대역
서울대입구역
봉천역
신림역
신대방역
구로디지털단지역
대림역
용답역
신답역
용두역
신설동역
대화역
주엽역
정발산역
마두역
백석역
대곡역
화정역
원당역
원흥역
삼송역
지축역
구파발역
연신내역
불광역
녹번역
홍제역
무악재역
독립문역
경복궁역
안국역
종로3가역
을지로3가역
충무로역
동대입구역
약수역
금호역
옥수역
압구정역
신사역
잠원역
고속터미널역
교대역
남부터미널역
양재역
매봉역
도곡역
대치역
학여울역
대청역
일원역
수서역
가락시장역
경찰병원역
오금역
당고개역
상계역
노원역
창동역
쌍문역
수유역
미아역
미아사거리역
길음역
성신여대입구역
한성대입구역
혜화역
동대문역
동대문역사문화공원역
충무로역
명동역
회현역
서울역
숙대입구역
삼각지역
신용산역
이촌역
동작역
총신대입구역
사당역
남태령역
선바위역
경마공원역
대공원역
과천역
정부과천청사역
인덕원역
평촌역
범계역
금정역
산본역
수리산역
대야미역
반월역
상록수역
한대앞역
중앙역
고잔역
초지역
안산역
신길온천역
정왕역
오이도역
방화역
개화산역
김포공항역
송정역
마곡역
발산역
우장산역
화곡역
까치산역
신정역
목동역
오목교역
양평역
영등포구청역
영등포시장역
신길역
여의도역
여의나루역
마포역
공덕역
애오개역
충정로역
서대문역
광화문역
종로3가역
을지로4가역
동대문역사문화공원역
청구역
신금호역
행당역
왕십리역
마장역
답십리역
장한평역
군자역
아차산역
광나루역
천호역
강동역
길동역
굽은다리역
명일역
고덕역
상일동역
강일역
미사역
하남풍산역
하남시청역
하남검단산역
둔촌동역
올림픽공원역
방이역
오금역
개롱역
거여역
마천역
신내역
봉화산역
화랑대역
태릉입구역
석계역
돌곶이역
상월곡역
월곡역
고려대역
안암역
보문역
창신역
동묘앞역
신당역
청구역
약수역
버티고개역
한강진역
이태원역
녹사평역
삼각지역
효창공원앞역
공덕역
대흥역
광흥창역
상수역
합정역
망원역
마포구청역
월드컵경기장역
디지털미디어시티역
증산역
새절역
응암역
역촌역
불광역
독바위역
연신내역
구산역
석남역
산곡역
부평구청역
굴포천역
삼산체육관역
상동역
부천시청역
신중동역
춘의역
부천종합운동장역
까치울역
온수역
천왕역
광명사거리역
철산역
가산디지털단지역
남구로역
대림역
신풍역
보라매역
신대방삼거리역
장승배기역
상도역
숭실대입구역
남성역
총신대입구역
내방역
고속터미널역
반포역
논현역
학동역
강남구청역
청담역
뚝섬유원지역
건대입구역
어린이대공원역
군자역
중곡역
용마산역
사가정역
면목역
상봉역
중화역
먹골역
태릉입구역
공릉역
하계역
중계역
노원역
마들역
수락산역
도봉산역
장암역
암사역
천호역
강동구청역
몽촌토성역
잠실역
석촌역
송파역
가락시장역
문정역
장지역
복정역
산성역
남한산성입구역
단대오거리역
신흥역
수진역
모란역
개화역
김포공항역
공항시장역
신방화역
마곡나루역
양천향교역
가양역
증미역
등촌역
염창역
신목동역
선유도역
당산역
국회의사당역
여의도역
샛강역
노량진역
노들역
흑석역
동작역
구반포역
신반포역
고속터미널역
사평역
신논현역
언주역
선정릉역
삼성중앙역
봉은사역
종합운동장역
삼전역
석촌고분역
석촌역
송파나루역
한성백제역
올림픽공원역
둔촌오륜역
중앙보훈병원역
송도달빛축제공원역
국제업무지구역
센트럴파크역
인천대입구역
지식정보단지역
테크노파크역
캠퍼스타운역
동막역
동춘역
원인재역
신연수역
선학역
문학경기장역
인천터미널역
예술회관역
인천시청역
간석오거리역
부평삼거리역
동수역
부평역
부평시장역
부평구청역
갈산역
작전역
경인교대입구역
계산역
임학역
박촌역
귤현역
계양역
검단오류역
왕길역
검단사거리역
마전역
완정역
독정역
검암역
검바위역
아시아드경기장역
서구청역
가정역
가정중앙시장역
석남역
서부여성회관역
인천가좌역
가재울역
주안국가산단역
주안역
시민공원역
석바위시장역
인천시청역
석천사거리역
모래내시장역
만수역
남동구청역
인천대공원역
운연역
인천역
신포역
숭의역
인하대역
송도역
연수역
원인재역
남동인더스파크역
호구포역
인천논현역
소래포구역
월곶역
달월역
오이도역
정왕역
신길온천역
안산역
초지역
고잔역
중앙역
한대앞역
사리역
야목역
어천역
오목천역
고색역
수원역
매교역
수원시청역
매탄권선역
망포역
영통역
청명역
상갈역
기흥역
신갈역
구성역
보정역
죽전역
오리역
미금역
정자역
수내역
서현역
이매역
야탑역
모란역
태평역
가천대역
복정역
수서역
대모산입구역
개포동역
구룡역
도곡역
한티역
선릉역
선정릉역
강남구청역
압구정로데오역
서울숲역
왕십리역
청량리역
강남역
양재역
양재시민의숲역
청계산입구역
판교역
정자역
미금역
동천역
수지구청역
성복역
상현역
광교중앙역
광교역
임진강역
문산역
파주역
월롱역
금촌역
금릉역
운정역
야당역
탄현역
일산역
풍산역
백마역
곡산역
대곡역
능곡역
행신역
강매역
화전역
수색역
디지털미디어시티역
가좌역
신촌역
서울역
홍대입구역
서강대역
공덕역
효창공원앞역
용산역
이촌역
서빙고역
한남역
옥수역
응봉역
왕십리역
청량리역
회기역
중랑역
상봉역
망우역
양원역
구리역
도농역
양정역
덕소역
도심역
팔당역
운길산역
양수역
신원역
국수역
아신역
오빈역
양평역
원덕역
용문역
지평역
인천공항2터미널역
인천공항1터미널역
공항화물청사역
운서역
영종역
청라국제도시역
검암역
계양역
김포공항역
마곡나루역
디지털미디어시티역
홍대입구역
공덕역
서울역
청량리역
회기역
중랑역
상봉역
망우역
신내역
갈매역
별내역
퇴계원역
사릉역
금곡역
평내호평역
천마산역
마석역
대성리역
청평역
상천역
가평역
굴봉산역
백양리역
강촌역
김유정역
남춘천역
춘천역
광운대역
발곡역
회룡역
범골역
경전철의정부역
의정부시청역
흥선역
의정부중앙역
동오역
새말역
경기도청북부청사역
효자역
곤제역
어룡역
송산역
탑석역
기흥역
강남대역
지석역
어정역
동백역
초당역
삼가역
시청·용인대역
명지대역
김량장역
운동장·송담대역
고진역
보평역
둔전역
전대·에버랜드역
판교역
이매역
삼동역
경기광주역
초월역
곤지암역
신둔도예촌역
이천역
부발역
세종대왕릉역
여주역
신설동역
보문역
성신여대입구역
정릉역
북한산보국문역
솔샘역
삼양사거리역
삼양역
화계역
가오리역
4·19민주묘지역
솔밭공원역
북한산우이역
소사역
소새울역
시흥대야역
신천역
신현역
시흥시청역
시흥능곡역
달미역
선부역
초지역
시우역
원시역
김포공항역
고촌역
풍무역
사우(김포시청)역
걸포북변역
운양역
장기역
마산역
구래역
양촌역

In [54]:
lat

[37.947099,
 37.926664,
 37.914277,
 37.901673,
 37.892369,
 37.843216,
 37.81876,
 37.773956,
 37.759416,
 37.748362,
 37.7387295,
 37.724522,
 37.710507,
 37.689596,
 37.679441,
 37.66747,
 37.65276,
 37.644599,
 37.633114,
 37.6237325,
 37.6150815,
 37.601829,
 37.595518,
 37.58975600000001,
 37.581381,
 37.5781758,
 37.575326,
 37.573246,
 37.571983,
 37.570988,
 37.570436,
 37.570176,
 37.5657037,
 37.555946,
 37.540597,
 37.5298837,
 37.51408199999999,
 37.5125541,
 37.517346,
 37.5154133,
 37.5088099,
 37.5031784,
 37.496261,
 37.494698,
 37.49440000000001,
 37.4921505,
 37.4851398,
 37.482755,
 37.484085,
 37.486664,
 37.487626,
 37.488479,
 37.49038609999999,
 37.483301,
 37.470869,
 37.464689,
 37.4650414,
 37.466128,
 37.466809,
 37.46871,
 37.475414,
 37.4762789,
 37.48144,
 37.4659942,
 37.455645,
 37.416522,
 37.455645,
 37.435161,
 37.41957800000001,
 37.4026846,
 37.3900837,
 37.372237,
 37.354006,
 37.34338899999999,
 37.320648,
 37.300344,
 37.28399,
 37.2664398,
 37.2441023,
 37.206821,
 37.1878476,
 37.17031350000001,
 37.14581,
 37.109771,
 37.075533,
 37.057003,
 37.018822,
 36.991145,
 36.916675,
 36.870921,
 36.833791,
 36.810144,
 36.80146,
 36.792905,
 36.793231,
 36.77753999999999,
 36.7804187,
 36.769213,
 37.195683,
 37.5317675,
 37.520209,
 37.512322,
 37.51447,
 37.5088099,
 37.5169837,
 37.5248203,
 37.5340278,
 37.5495753,
 37.557527,
 37.559771,
 37.556761,
 37.557382,
 37.560055,
 37.5657037,
 37.566065,
 37.566288,
 37.566621,
 37.565682,
 37.565669,
 37.5645,
 37.561949,
 37.5555961,
 37.547206,
 37.5445797,
 37.540372,
 37.5370464,
 37.535098,
 37.520669,
 37.5132612,
 37.511624,
 37.511037,
 37.508861,
 37.504487,
 37.500326,
 37.497952,
 37.4934705,
 37.49184,
 37.481512,
 37.476559,
 37.477117,
 37.48121,
 37.482476,
 37.4626176,
 37.487519,
 37.485215,
 37.4925043,
 37.562178,
 37.569889,
 37.573927,
 37.575326,
 37.6758831,
 37.670186,
 37.6596496,
 37.652185,
 37.64303,
 37.631957,
 37.634643,
 37.65332799999999,
 37.650709,
 37.653096,
 37.64811400000001,
 37.636581,
 37.618812,
 37.6105025,
 37.600869,
 37.588792,
 37.582634,
 37.574463,
 37.575838,
 37.576556,
 37.570436,
 37.566288,
 37.560997,
 37.558126,
 37.554347,
 37.54826,
 37.540514,
 37.52633,
 37.51628729999999,
 37.51296,
 37.5049142,
 37.4934705,
 37.484918,
 37.484102,
 37.48703500000001,
 37.49106,
 37.494569,
 37.496683,
 37.493608,
 37.483869,
 37.4874685,
 37.492733,
 37.495701,
 37.5022335,
 37.67026,
 37.660566,
 37.654527,
 37.65276,
 37.6522545,
 37.6371095,
 37.62645300000001,
 37.613251,
 37.603245,
 37.59272,
 37.588374,
 37.58217,
 37.571983,
 37.565682,
 37.560997,
 37.5609892,
 37.5547125,
 37.555946,
 37.545097,
 37.5350315,
 37.529187,
 37.5224761,
 37.5028909,
 37.486491,
 37.476559,
 37.464237,
 37.451854,
 37.443996,
 37.435733,
 37.433172,
 37.4264825,
 37.400807,
 37.394346,
 37.389854,
 37.372237,
 37.358019,
 37.350297,
 37.328304,
 37.312244,
 37.3028447,
 37.309685,
 37.316055,
 37.3168267,
 37.32058300000001,
 37.327006,
 37.337488,
 37.351816,
 37.3479761,
 37.577622,
 37.572455,
 37.562402,
 37.561385,
 37.5619185,
 37.55868299999999,
 37.548783,
 37.54157800000001,
 37.5317675,
 37.524987,
 37.526072,
 37.524553,
 37.4927315,
 37.5248203,
 37.521638,
 37.517346,
 37.5215695,
 37.527141,
 37.539705,
 37.54322,
 37.55359,
 37.560055,
 37.56577,
 37.5696765,
 37.570436,
 37.566621,
 37.565682,
 37.5591145,
 37.554468,
 37.557402,
 37.561949,
 37.566127,
 37.567072,
 37.56147199999999,
 37.5573355,
 37.552649,
 37.545339,
 37.5439937,
 37.53594,
 37.537776,
 37.545539,
 37.55131,
 37.555051,
 37.5570545,
 37.557471,
 37.561468,
 37.552059,
 37.5419669,
 37.539827,
 37.527657,
 37.516628,
 37.508559,
 37.5022335,
 37.49797,
 37.493422,
 37.495027,
 37.6126681,
 37.617379,
 37.6201651,
 37.6179085,
 37.6150815,
 37.610493,
 37.6066,
 37.601925,
 37.59040299999999,
 37.586296,
 37.585331,
 37.579369,
 37.573246,
 37.565669,
 37.5591145,
 37.554347,
 37.548111,
 37.539838,
 37.534542,
 37.534945,
 37.5350315,
 37.539289,
 37.54322,
 37.547674,
 37.547478,
 37.547736,
 37.5495753,
 37.55606849999999,
 37.563418,
 37.56965599999999,
 37.5779636,
 37.583933,
 37.591014,
 37.598472,
 37.606123,
 37.6105025,
 37.618397,
 37.618812,
 37.610725,
 37.50207,
 37.5085341,
 37.508073,
 37.50823099999999,
 37.506483,
 37.505814,
 37.504681,
 37.50306399999999,
 37.503722,
 37.505452,
 37.5062327,
 37.4921505,
 37.486686,
 37.4793066,
 37.4759465,
 37.48144,
 37.486087,
 37.4925043,
 37.50013,
 37.499929,
 37.499717,
 37.504905,
 37.503072,
 37.496374,
 37.484876,
 37.486491,
 37.487707,
 37.5049142,
 37.508213,
 37.511206,
 37.514236,
 37.517473,
 37.51912,
 37.531544,
 37.540372,
 37.547913,
 37.5573355,
 37.565535,
 37.57379299999999,
 37.580966,
 37.588745,
 37.5972353,
 37.60258,
 37.61078,
 37.6179085,
 37.625787,
 37.63595,
 37.645112,
 37.654527,
 37.665375,
 37.677881,
 37.689596,
 37.700145,
 37.550148,
 37.5439937,
 37.53051,
 37.517641,
 37.5132612,
 37.5057138,
 37.499739,
 37.492733,
 37.4851331,
 37.477699,
 37.470375,
 37.45663,
 37.451548,
 37.44504999999999,
 37.440956,
 37.4376051,
 37.432124,
 37.578464,
 37.562402,
 37.5623155,
 37.567513,
 37.5669356,
 37.568105,
 37.561553,
 37.55814,
 37.55124139999999,
 37.546965,
 37.544267,
 37.537865,
 37.5340278,
 37.528128,
 37.5215695,
 37.5167428,
 37.51408199999999,
 37.513416,
 37.5090394,
 37.5028909,
 37.501431,
 37.503487,
 37.5049142,
 37.504448,
 37.504724,
 37.507323,
 37.5102747,
 37.5128889,
 37.514221,
 37.511037,
 37.503873,
 37.5023874,
 37.5057138,
 37.510276,
 37.516421,
 37.516628,
 37.519296,
 37.5268002,
 37.407141,
 37.400421,
 37.3934923,
 37.386196,
 37.378004,
 37.382294,
 37.388205,
 37.39814,
 37.40467599999999,
 37.412757,
 37.41806200000001,
 37.426951,
 37.43495900000001,
 37.44132800000001,
 37.4493,
 37.457619,
 37.466092,
 37.478267,
 37.485401,
 37.49038609999999,
 37.498444,
 37.508073,
 37.517056,
 37.530279,
 37.5383125,
 37.54326,
 37.545075,
 37.553525,
 37.566396,
 37.571594,
 37.594513,
 37.595101,
 37.601841,
 37.597771,
 37.592865,
 37.584925,
 37.5692314,
 37.560308,
 37.551304,
 37.5440329,
 37.524743,
 37.5177067,
 37.50207,
 37.500303,
 37.490035,
 37.484106,
 37.4737465,
 37.4650414,
 37.4584652,
 37.457696,
 37.457619,
 37.4567915,
 37.4559068,
 37.454967,
 37.4481381,
 37.448498,
 37.438359,
 37.4762789,
 37.468455,
 37.460889,
 37.4482422,
 37.429714,
 37.41857,
 37.412757,
 37.407772,
 37.401622,
 37.400641,
 37.400963,
 37.391813,
 37.380008,
 37.3479761,
 37.351816,
 37.337488,
 37.327006,
 37.32058300000001,
 37.3168267,
 37.316055,
 37.309685,
 37.290913,
 37.26119,
 37.249736,
 37.243486,
 37.249668,
 37.2664398,
 37.265502,
 37.261851,
 37.252704,
 37.245807,
 37.251521,
 37.2595832,
 37.261797,
 37.275657,
 37.286127,
 37.299013,
 37.312747,
 37.324583,
 37.339832,
 37.350078,
 37.366766,
 37.378442,
 37.384994,
 37.395846,
 37.41132,
 37.432124,
 37.439854,
 37.44960200000001,
 37.470375,
 37.4874685,
 37.491375,
 37.48916699999999,
 37.486985,
 37.49106,
 37.496208,
 37.504487,
 37.5102747,
 37.517473,
 37.527394,
 37.5431275,
 37.561949,
 37.581381,
 37.497952,
 37.484102,
 37.469913,
 37.448215,
 37.394776,
 37.366766,
 37.350078,
 37.337788,
 37.32238,
 37.313557,
 37.2968125,
 37.288412,
 37.3021303,
 37.88888,
 37.8545648,
 37.81539,
 37.795549,
 37.766106,
 37.751265,
 37.725402,
 37.7127491,
 37.693882,
 37.681997,
 37.672173,
 37.658346,
 37.645892,
 37.631957,
 37.618741,
 37.611846,
 37.6125959,
 37.602908,
 37.580855,
 37.5779636,
 37.568798,
 37.559771,
 37.555946,
 37.557527,
 37.552167,
 37.54322,
 37.539289,
 37.5298837,
 37.5224761,
 37.519619,
 37.52936100000001,
 37.540514,
 37.5504328,
 37.561949,
 37.581381,
 37.58975600000001,
 37.594904,
 37.5972353,
 37.598603,
 36.9630939,
 37.6033064,
 37.608763,
 37.604269,
 37.587199,
 37.579628,
 37.547376,
 37.554742,
 37.545998,
 37.52592,
 37.516196,
 37.513555,
 37.506129,
 37.4927315,
 37.4685731,
 37.482468,
 37.4764956,
 37.4848155,
 37.4475951,
 37.459064,
 37.492764,
 37.51213,
 37.5563477,
 37.5692314,
 37.571594,
 37.562402,
 37.5669356,
 37.5779636,
 37.557527,
 37.54322,
 37.555946,
 37.581381,
 37.58975600000001,
 37.594904,
 37.5972353,
 37.598603,
 37.6126681,
 37.6348265,
 37.642271,
 37.648346,
 37.651145,
 37.637364,
 37.653229,
 37.65899539999999,
 37.652797,
 37.6805595,
 37.73546899999999,
 37.770405,
 37.814515,
 37.832086,
 37.82768799999999,
 37.81829,
 37.818475,
 37.864071,
 37.8849801,
 37.6237325,
 37.726992,
 37.724522,
 37.728796,
 37.737291,
 37.739242,
 37.743284,
 37.743684,
 37.745269,
 37.748869,
 37.750765,
 36.0074612,
 37.750526,
 37.742696,
 37.737281,
 37.733507,
 37.275657,
 37.270197,
 37.26974,
 37.275435,
 37.2690175,
 37.260358,
 37.242103,
 37.2394,
 37.238043,
 37.237293,
 37.23789,
 37.244643,
 37.262406,
 37.267201,
 37.285758,
 37.394776,
 37.395846,
 37.408554,
 37.3987307,
 37.373394,
 37.3499838,
 37.31566,
 37.2646392,
 37.2598735,
 37.29419,
 37.282114,
 37.575326,
 37.585331,
 37.59272,
 37.602667,
 37.612216,
 37.620266,
 37.621341,
 37.626922,
 37.634118,
 37.641559,
 37.649529,
 37.656048,
 37.662909,
 37.482755,
 37.46848,
 37.450194,
 37.439035,
 37.40968,
 37.38148,
 37.370157,
 37.348898,
 37.334407,
 37.32058300000001,
 37.313153,
 37.302573,
 37.562402,
 37.601399,
 37.612294,
 37.620314,
 37.63165000000001,
 37.653851,
 37.6449105,
 35.23612,
 37.645397,
 37.641717]

In [55]:
lon

[127.060681,
 127.054992,
 127.057158,
 127.056409,
 127.055757,
 127.061511,
 127.056676,
 127.044782,
 127.042272,
 127.044251,
 127.0458908,
 127.0472035,
 127.04738,
 127.0461945,
 127.045521,
 127.044295,
 127.047945,
 127.051406,
 127.058835,
 127.061817,
 127.0657675,
 127.067347,
 127.059615,
 127.057977,
 127.048958,
 127.0345907,
 127.0248495,
 127.016589,
 127.011708,
 127.001921,
 126.992148,
 126.983197,
 126.9768616,
 126.972317,
 126.971171,
 126.9648019,
 126.941687,
 126.9263706,
 126.9164095,
 126.9071288,
 126.8912061,
 126.8820367,
 126.86959,
 126.858504,
 126.844551,
 126.8236345,
 126.8116223,
 126.795654,
 126.782803,
 126.764474,
 126.753045,
 126.740549,
 126.7236421,
 126.707179,
 126.702884,
 126.693408,
 126.6807024,
 126.6685204,
 126.657165,
 126.642611,
 126.632598,
 126.6168922,
 126.882652,
 126.8895083,
 126.894003,
 126.884789,
 126.894003,
 126.902233,
 126.908476,
 126.9220496,
 126.9305068,
 126.9434895,
 126.948539,
 126.948401,
 126.948099,
 126.97086,
 126.989581,
 126.9994077,
 127.0137721,
 127.033268,
 127.0430124,
 127.0600685,
 127.067125,
 127.062342,
 127.054377,
 127.053294,
 127.070269,
 127.084981,
 127.126936,
 127.143774,
 127.148905,
 127.1466733,
 127.136151,
 127.120118,
 127.104708,
 127.052751,
 127.0037072,
 126.950129,
 127.051904,
 126.8467055,
 126.852796,
 126.865633,
 126.88264,
 126.8912061,
 126.8993953,
 126.8959946,
 126.9019901,
 126.9139908,
 126.9244669,
 126.942367,
 126.945857,
 126.956083,
 126.963672,
 126.9768616,
 126.982679,
 126.991051,
 126.997733,
 127.008953,
 127.019452,
 127.028872,
 127.038485,
 127.0436859,
 127.047405,
 127.0559678,
 127.069276,
 127.0859404,
 127.094695,
 127.103839,
 127.1001336,
 127.085585,
 127.073674,
 127.063149,
 127.048957,
 127.036087,
 127.027619,
 127.0142285,
 127.007688,
 126.997638,
 126.981633,
 126.963418,
 126.952712,
 126.941574,
 126.9383251,
 126.913282,
 126.901594,
 126.8949615,
 127.050853,
 127.04701,
 127.038653,
 127.0248495,
 126.7477558,
 126.7611005,
 126.7732889,
 126.777641,
 126.788066,
 126.8102965,
 126.832633,
 126.843006,
 126.873239,
 126.895559,
 126.913746,
 126.918833,
 126.920842,
 126.9298435,
 126.935761,
 126.944094,
 126.950134,
 126.957936,
 126.97358,
 126.985472,
 126.992148,
 126.991051,
 126.994728,
 127.005316,
 127.011001,
 127.015789,
 127.018698,
 127.028513,
 127.0200228,
 127.011611,
 127.0049151,
 127.0142285,
 127.01629,
 127.034369,
 127.046918,
 127.0556945,
 127.063446,
 127.070549,
 127.079542,
 127.084032,
 127.1013245,
 127.119551,
 127.124206,
 127.128354,
 127.079011,
 127.073202,
 127.060551,
 127.047945,
 127.0304855,
 127.0247325,
 127.026119,
 127.030084,
 127.024959,
 127.016544,
 127.005907,
 127.001893,
 127.011708,
 127.008953,
 126.994728,
 126.9861868,
 126.9707878,
 126.972317,
 126.971987,
 126.9734515,
 126.967886,
 126.9738155,
 126.9803302,
 126.981876,
 126.981633,
 126.989097,
 127.002164,
 127.007914,
 127.006489,
 126.996388,
 126.9900215,
 126.976384,
 126.96388,
 126.950627,
 126.9434895,
 126.932969,
 126.925537,
 126.91716,
 126.903684,
 126.8665333,
 126.853656,
 126.838532,
 126.8230369,
 126.806151,
 126.788748,
 126.767306,
 126.742844,
 126.6888971,
 126.812826,
 126.806839,
 126.801289,
 126.81205,
 126.826919,
 126.837595,
 126.836334,
 126.840436,
 126.8467055,
 126.856181,
 126.864301,
 126.87505,
 127.4918245,
 126.8959946,
 126.9049865,
 126.9164095,
 126.9243115,
 126.93281,
 126.94604,
 126.951576,
 126.956739,
 126.963672,
 126.96665,
 126.976177,
 126.992148,
 126.997733,
 127.008953,
 127.0131005,
 127.020794,
 127.029637,
 127.038485,
 127.042965,
 127.052382,
 127.064657,
 127.079589,
 127.08924,
 127.103623,
 127.1256452,
 127.132187,
 127.140009,
 127.142906,
 127.144014,
 127.15411,
 127.169184,
 127.17571,
 127.19333,
 127.20388,
 127.2062976,
 127.2231,
 127.136231,
 127.13109,
 127.12596,
 127.128354,
 127.135085,
 127.143597,
 127.152806,
 127.1032127,
 127.091315,
 127.0838154,
 127.0750345,
 127.0657675,
 127.056403,
 127.048862,
 127.04153,
 127.035926,
 127.029137,
 127.019391,
 127.015299,
 127.016589,
 127.019452,
 127.0131005,
 127.011001,
 127.00714,
 127.001766,
 126.994596,
 126.9853515,
 126.9734515,
 126.961339,
 126.951576,
 126.942332,
 126.931855,
 126.92296,
 126.9139908,
 126.910091,
 126.903472,
 126.899058,
 126.9004205,
 126.909686,
 126.913582,
 126.915592,
 126.922791,
 126.9298435,
 126.933056,
 126.920842,
 126.917879,
 126.6720275,
 126.7035091,
 126.72091,
 126.725813,
 126.742024,
 126.753163,
 126.763618,
 126.775977,
 126.787095,
 126.797498,
 126.8113591,
 126.8236345,
 126.838681,
 126.8546747,
 126.8682506,
 126.882652,
 126.887272,
 126.8949615,
 126.908969,
 126.920282,
 126.928189,
 126.939191,
 126.947753,
 126.953504,
 126.970673,
 126.981876,
 126.993598,
 127.0049151,
 127.011847,
 127.021728,
 127.031593,
 127.0411685,
 127.051937,
 127.066708,
 127.069276,
 127.07461,
 127.079589,
 127.084086,
 127.086818,
 127.088503,
 127.087494,
 127.0859765,
 127.079303,
 127.077707,
 127.0750345,
 127.072894,
 127.068213,
 127.06411,
 127.060551,
 127.057614,
 127.055293,
 127.0461945,
 127.0531804,
 127.127519,
 127.1256452,
 127.120535,
 127.11274,
 127.1001336,
 127.1070689,
 127.112201,
 127.119551,
 127.1238462,
 127.126274,
 127.126685,
 127.15011,
 127.159837,
 127.156709,
 127.147509,
 127.1409692,
 127.129064,
 126.796992,
 126.801289,
 126.8086965,
 126.817353,
 126.8265611,
 126.841909,
 126.854244,
 126.860623,
 126.8645132,
 126.874839,
 126.883077,
 126.893927,
 126.9019901,
 126.917853,
 126.9243115,
 126.9288901,
 126.941687,
 126.952213,
 126.9634769,
 126.9803302,
 126.987427,
 126.996017,
 127.0049151,
 127.014759,
 127.02538,
 127.033903,
 127.0438167,
 127.0526509,
 127.060266,
 127.073674,
 127.089064,
 127.0969415,
 127.1070689,
 127.112224,
 127.116248,
 127.13109,
 127.138675,
 127.1476326,
 126.625873,
 126.630105,
 126.6348629,
 126.639404,
 126.645412,
 126.656398,
 126.662085,
 126.673603,
 126.680942,
 126.6871295,
 126.694023,
 126.698915,
 126.698344,
 126.701052,
 126.701001,
 126.70222,
 126.708216,
 126.710462,
 126.718389,
 126.7236421,
 126.722261,
 126.72091,
 126.721545,
 126.722516,
 126.7225915,
 126.728533,
 126.738653,
 126.744978,
 126.742573,
 126.7363805,
 126.628965,
 126.642301,
 126.656599,
 126.667146,
 126.67303,
 126.6759808,
 126.6736077,
 126.677672,
 126.677103,
 126.6769945,
 126.6742755,
 126.6768046,
 126.6720275,
 126.675857,
 126.675237,
 126.683833,
 126.6817255,
 126.6807024,
 126.6800989,
 126.692191,
 126.70222,
 126.7105065,
 126.7196085,
 126.731792,
 126.7366455,
 126.752826,
 126.759611,
 126.6168922,
 126.624525,
 126.638083,
 126.6499823,
 126.654485,
 126.679559,
 126.6871295,
 126.695235,
 126.708682,
 126.722495,
 126.733533,
 126.742693,
 126.745449,
 126.6888971,
 126.742844,
 126.767306,
 126.788748,
 126.806151,
 126.8230369,
 126.838532,
 126.853656,
 126.857179,
 126.884077,
 126.911107,
 126.964121,
 126.980289,
 126.9994077,
 127.015657,
 127.031121,
 127.040661,
 127.057375,
 127.07134,
 127.0790738,
 127.108718,
 127.115944,
 127.111311,
 127.105664,
 127.108232,
 127.107398,
 127.108985,
 127.108952,
 127.108265,
 127.11423,
 127.123402,
 127.128272,
 127.128674,
 127.129064,
 127.128035,
 127.126635,
 127.126685,
 127.1013245,
 127.072761,
 127.066502,
 127.059496,
 127.0556945,
 127.052883,
 127.048957,
 127.0438167,
 127.0411685,
 127.040572,
 127.0445665,
 127.038485,
 127.048958,
 127.027619,
 127.034369,
 127.038396,
 127.054726,
 127.11116,
 127.108265,
 127.108952,
 127.102832,
 127.094447,
 127.080341,
 127.0689805,
 127.051658,
 127.0441582,
 126.747497,
 126.7875312,
 126.792426,
 126.792602,
 126.774515,
 126.765664,
 126.767152,
 126.7615354,
 126.761161,
 126.77004,
 126.786355,
 126.7944,
 126.8017,
 126.8102965,
 126.820845,
 126.834059,
 126.8454369,
 126.868386,
 126.895681,
 126.9004205,
 126.914961,
 126.942367,
 126.972317,
 126.9244669,
 126.935445,
 126.951576,
 126.961339,
 126.9648019,
 126.9738155,
 126.988375,
 127.008984,
 127.018698,
 127.0348241,
 127.038485,
 127.048958,
 127.057977,
 127.075833,
 127.0859765,
 127.092882,
 129.0910966,
 127.1432928,
 127.161123,
 127.194602,
 127.208547,
 127.222798,
 127.243813,
 127.309937,
 127.328948,
 127.372745,
 127.399461,
 127.443113,
 127.473804,
 127.4918245,
 127.5471595,
 127.594471,
 127.6296807,
 126.4396163,
 126.4580803,
 126.477507,
 126.493844,
 126.52436,
 126.6245342,
 126.6736077,
 126.7363805,
 126.801289,
 126.8265611,
 126.9004205,
 126.9244669,
 126.951576,
 126.972317,
 127.048958,
 127.057977,
 127.075833,
 127.0859765,
 127.092882,
 127.1032127,
 127.1156625,
 127.127439,
 127.144032,
 127.176839,
 127.20762,
 127.244452,
 127.2857308,
 127.31168,
 127.376729,
 127.426589,
 127.4542002,
 127.510693,
 127.557732,
 127.6124,
 127.63478,
 127.714302,
 127.723761,
 127.7171082,
 127.061817,
 127.05291,
 127.0472035,
 127.043664,
 127.043317,
 127.034866,
 127.037121,
 127.049663,
 127.056979,
 127.063785,
 127.071587,
 129.3324274,
 127.083825,
 127.085226,
 127.087209,
 127.088914,
 127.115944,
 127.126007,
 127.13666,
 127.1437385,
 127.1528365,
 127.1598275,
 127.16814,
 127.178839,
 127.190298,
 127.198671,
 127.209046,
 127.214168,
 127.223526,
 127.213619,
 127.220061,
 127.11116,
 127.128272,
 127.203656,
 127.2523187,
 127.30001,
 127.341839,
 127.404656,
 127.4423125,
 127.4903676,
 127.570737,
 127.628592,
 127.0248495,
 127.019391,
 127.016544,
 127.013494,
 127.008154,
 127.013535,
 127.020507,
 127.018164,
 127.017512,
 127.01681,
 127.0137147,
 127.013278,
 127.012798,
 126.795654,
 126.797291,
 126.792977,
 126.786751,
 126.787828,
 126.805921,
 126.808734,
 126.809404,
 126.810003,
 126.806151,
 126.795718,
 126.786787,
 126.801289,
 126.770214,
 126.732693,
 126.719808,
 126.705732,
 126.683843,
 126.6695999,
 128.577057,
 126.628708,
 126.614758]

In [56]:
st_info['위도'] = lat
st_info['경도'] = lon
st_info

    st_name st_line         위도          경도
0      소요산역     1호선  37.947099  127.060681
1      동두천역     1호선  37.926664  127.054992
2       보산역     1호선  37.914277  127.057158
3    동두천중앙역     1호선  37.901673  127.056409
4       지행역     1호선  37.892369  127.055757
..      ...     ...        ...         ...
744     운양역  김포도시철도  37.653851  126.683843
745     장기역  김포도시철도  37.644911  126.669600
746     마산역  김포도시철도  35.236120  128.577057
747     구래역  김포도시철도  37.645397  126.628708
748     양촌역  김포도시철도  37.641717  126.614758

[749 rows x 4 columns]

In [62]:
st_info.to_csv('./data/subway.csv', header = True, index = False)

In [63]:
mart.to_csv('./data/mart.csv', header = True, index = False)